// Specific CSS for your home-page
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
// Main body page height
#page-container {
  position: relative;
  min-height: 60vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.home-banner {
  border-radius: 24px;
}
