    <h2>Artworks</h2>
      <%= render 'shared/search' %>
    <div class="flex-container my-5">
      <% if @results.present? %>
        <%# do_results_stuff %>
        <% @results.each do |result| %>
          <% artwork_or_artist = result.searchable %>
          <% if artwork_or_artist.is_a?(Artwork) %>
            <%= render 'shared/search_artworks_results' %>
          <% else %>
            <%= render 'shared/search_artists_results' %>
          <% end %>
        <% end %>
      <% else %>
        <%# do_artworks_stuff %>
        <% if @artworks.present? %>
        <%= render 'shared/search_all_results' %>
        <% else %>
        <br>
            <p><strong>Sorry, no results found! 😕 </strong></p>
            <% end %>
        <% end %>
    </div>
