<div class="cards mt-5">
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "oil-feature.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h6>PAINTINGS</h6>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <a class="btn btn-dark rounded-pill" href="/paintings">LEARN MORE</a>
      </div>
  </div>
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "digital-art-feature.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h6>DIGITAL ART</h6>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <a class="btn btn-dark rounded-pill" href="#">LEARN MORE</a>
      </div>
  </div>
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "sculpture-feature.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h6>SCULPTURES</h6>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <a class="btn btn-dark rounded-pill" href="#">LEARN MORE</a>
      </div>
  </div>
</div>
