<div class="cards mt-5">
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "oil-feature.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h6>PAINTINGS</h6>
        <p>Afonso Miguel's paintings are widely regarded as some of the strangest in Europe.</p>
        <a class="btn btn-dark rounded-pill" href="/paintings">LEARN MORE</a>
      </div>
  </div>
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "digital-art-feature.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h6>DIGITAL ART</h6>
        <p>A rare digital ping pong collection has become a Portuguese cultural icon. </p>
        <a class="btn btn-dark rounded-pill" href="/digital_art">LEARN MORE</a>
      </div>
  </div>
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "sculpture-feature.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h6>SCULPTURES</h6>
        <p>Canelle Hennuyer's French scultpure style is like witnessing a rainbow reborn.</p>
        <a class="btn btn-dark rounded-pill" href="/sculptures">LEARN MORE</a>
      </div>
  </div>
</div>
