<div class="mt-5">
  <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "painting-banner.jpeg" %>');">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
         <h1>Discover beautiful artwork</h1>
      <p>Discover and commission paintings, sculptures and digital art from artists all around the world.</p>
            <%= render "shared/search" %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="mt-5 mb-5">
    <h2 class="text-center">Featured commisions</h2>
    <div class="cards mt-5">
      <div class="wrapper">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg')">
          Breakfast
        </div>
          <div class="card-product-infos mt-4 mb-4 text-center">
            <h4>Product name</h4>
            <p>Product description with <strong>relevant info</strong> only.</p>
            <a class="btn btn-dark rounded-pill" href="#">Do something</a>
          </div>
      </div>
      <div class="wrapper">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Lunch
        </div>
        <div class="card-product-infos mt-4 mb-4 text-center">
          <h4>Product name</h4>
          <p>Product description with <strong>relevant info</strong> only.</p>
          <a class="btn btn-dark rounded-pill" href="#">Do something</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          Dinner
        </div>
        <div class="card-product-infos mt-4 mb-4 text-center">
          <h4>Product name</h4>
          <p>Product description with <strong>relevant info</strong> only.</p>
          <a class="btn btn-dark rounded-pill" href="#">Do something</a>
        </div>
      </div>
  </div>
</div>
