<div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "painting-banner.jpg" %>');">
  <div class="container">
    <div class="col-md-6 text-center">
      <h1>Discover beautiful artwork</h1>
      <p>Discover and commission paintings, sculptures and digital art from artists all around the world.</p>
      <%= render 'shared/search' %>
    </div>
  </div>
</div>
<div class="mt-5 mb-5">
  <h2 class="text-center">Featured commissions</h2>
  <%= render "shared/homepage_cards" %>
</div>
