.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
  color: white;
}
.footer-links a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.75;
}
.footer .fa-heart {
  color: #D23333;
}
