.navbar {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
  display: none;
}
}
